# =========================
# Persistent Volume
# =========================
apiVersion: v1
kind: PersistentVolume
metadata:
  name: postgres-pv
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: manual
  local:
    path: /Users/dl/Code/k8s/hackernews-reader/orbstack-pv/postgres
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values:
                - orbstack
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-config
  namespace: hackernews
data:
  POSTGRES_DB: hackernews

---
apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: hackernews
type: Opaque
stringData:
  POSTGRES_USER: hacker
  POSTGRES_PASSWORD: hacker123
---
apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: hackernews
spec:
  selector:
    app: postgres
  ports:
    - port: 5432
      targetPort: 5432

---
# =========================
# PostgreSQL StatefulSet
# =========================
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: postgres
  namespace: hackernews
spec:
  serviceName: postgres
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: postgres:15-alpine
          envFrom:
            - configMapRef:
                name: postgres-config
            - secretRef:
                name: postgres-secret
          ports:
            - containerPort: 5432
              name: postgres
          volumeMounts:
            - name: postgres-storage
              mountPath: /var/lib/postgresql/data

  volumeClaimTemplates:
    - metadata:
        name: postgres-storage
      spec:
        accessModes:
          - ReadWriteOnce
        storageClassName: manual
        resources:
          requests:
            storage: 1Gi
